.DS_Store
.project
.pydevproject
final_ribo/
goto_ptms.py
goto_ptms.py_backup
test/
test_ribo/
auxiliary/
other_materials/
TODO
*.pdf
*.out
*.pdb
*.ccp4
*.tar.gz
*.pyc
grid_search*
script_test_the_test_ribos.sh
script_test_the_test_ribos_synthetic.sh
synthetic_ribo_testing/
