.DS_Store
.project
.pydevproject
final_ribo/
goto_ptms.py
goto_ptms.py_backup
modified.pdb
ptms.out
ptms.pdb
ccs.out
selected.out
test.out
test/
test_ribo/
auxiliary/
other_materials/
TODO
CCs.pdf
New_densities.pdf
Ratios.pdf
Ref_densities.pdf
difference_map.ccp4
*.tar.gz
*.pyc
